<div class="container   align-items-center" >
    <div class="row">
      
          <div class="col-3">
            <a routerLink="/tunisois" class="image-link">
            <img [src]="imageUrl1" alt="">
            </a>
           
            <div class="image-caption"> Restaurant le Tuinisois
              <div class="rating">
                <div class="stars">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <a href="#">Voir les avis.</a>
            </div>
            </div>
          </div>
          <div class="col-3">
            <div class="image-box">
            <a routerLink="/hajj" class="image-link">
            <img [src]="imageUrl2" alt="">
             </a>
             <div class="image-caption">   Restaurant Weld El Haj
              <div class="rating">
                <div class="stars">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star"></i>
                </div>
                <a href="#">Voir les avis.</a>
            </div>
             </div>
           </div>
           
          </div>
          
          <div class="col-3">
            <div class="image-box">
            <a routerLink="/chaneb" class="image-link">
            <img [src]="imageUrl3" alt="">
            </a>
            <div class="image-caption"> Tacos Chaneb
              <div class="rating">
                <div class="stars">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star"></i>
                </div>
                <a href="#">Voir les avis.</a>
            </div>
            </div>
        </div>
          </div>
         
    </div>
</div>
    <div class="container2   align-items-center" >
    <div class="row2">
      
        <div class="col-3">
          <a routerLink="/amigos" class="image-link">
          <img [src]="imageUrl4" alt="">
          </a>
          <div class="image-caption">Restaurant Dos Amigos
            <div class="rating">
              <div class="stars">
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star "></i>
                  <i class="fa fa-star"></i>
              </div>
              <a href="#">Voir les avis.</a>
          </div>
          </div>
          
        </div>
        <div class="col-3">
          <div class="image-box">
          <a routerLink="/joseph" class="image-link">
          <img [src]="imageUrl5" alt="">
           </a>
           <div class="image-caption">Restaurant Josef
            <div class="rating">
              <div class="stars">
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
              </div>
              <a href="#">Voir les avis.</a>
          </div>
           </div>
         </div>
         
        </div>
        
        <div class="col-3">
          <div class="image-box">
          <a routerLink="/soltana" class="image-link">
          <img [src]="imageUrl6" alt="">
          </a>
          <div class="image-caption"> Restaurant Soltana
           
    
            <div class="rating">
              <div class="stars">
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
              </div>
              <a href="#">Voir les avis.</a>
          </div>
          </div>
      </div>
        </div>
       
  </div>
  </div>

