<title>Pizza</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./dos-amigos.component.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
</style>

<!-- Start Content -->
<div id="home" class="w3-content">

<!-- Menu -->
<div id="menu" class="w3-container w3-black w3-large w3-padding-64">
<h1 class="w3-center w3-jumbo w3-padding-32">THE MENU</h1>
<div class="w3-row w3-center w3-border w3-border-dark-grey">
<a><div class="w3-third w3-padding-large w3-red"> Our Simple Malfouf</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">Our Special Malfouf</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">Amigos</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">Drinks</div></a>
</div>

<div id="Dishes" class="w3-container w3-white w3-padding-32">
    <h1>
        <b> 
            Malfouf Kabeb - Simple</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px" style="float: right; margin-left: 10px; ">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet, Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    <br>
    <hr>

    <h1>
        <b> Breaded Chicken Malfouf - Simple</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet , Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    
    <br>
    <hr>

    <h1>
        <b>
            Malfouf Cordon Bleu - Simple</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px"  style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet, Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    
    <br>
    <hr>

    <h1>
        <b>Malfouf Chawarma-Simple</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">9 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet, Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    
    <br>
    <hr>
    
    <h1>
        <b> Cutlet Malfouf-Simple</b> 
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">11.5 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px"  style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet , Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    
    <br>
    <hr>
    <h1>
        <b> Tuna Malfouf-Simple</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">11.5 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px"  style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet , Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    
    <br>
    <hr>
    
    <h1>
        <b> Ham Malfouf-Simple</b>&nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">11 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ne96w2yo841980eher7m" alt="Image" width="250px" height="200px"  style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey"> Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet , Fries</p>
    <button class="w3-third w3-padding-large w3-black">Add to cart</button>
    
<br>
    
</div>

    
    <h1 id="pasta" class="w3-center w3-jumbo w3-padding-32">SPECIAL MALFOUF</h1>
    <div class="w3-container w3-white w3-padding-32">
        <h1>
            <b> 
                Malfouf Kabeb - Special</b> &nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
                &nbsp;
                <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
                <div style="display: flex; align-items: left;">
                    <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"  style="float: right; margin-left: 10px; ">
                    <hr style="flex: 1; margin: 0;">
                </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet , Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
    
        <h1>
            <b> Breaded Chicken Malfouf - Special</b> &nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"  style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
    
        <h1>
            <b>
                Malfouf Cordon Bleu - Special</b> &nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
    
        <h1>
            <b>Malfouf Chawarma-Special</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">9 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"  style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
        
        <h1>
            <b> Cutlet Malfouf-Special</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">11.5 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
        <h1>
            <b> Tuna Malfouf-Special</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">11.5 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
        
        <h1>
            <b> Ham Malfouf-Special</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">11 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/uzvouqllgrcbvyznxfkq" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey"> Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
    <br>
        <hr>
        
      
    </div>
    
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">AMIGOS</h1>
    <div class="w3-container w3-white w3-padding-32">
    
        <h1>
            <b> 
                Amigos Kabeb </b> &nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
                &nbsp;
                <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
                <div style="display: flex; align-items: left;">
                    <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"  style="float: right; margin-left: 10px; ">
                    <hr style="flex: 1; margin: 0;">
                </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet , Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
    
        <h1>
            <b> Breaded Chicken Amigos </b> &nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"  style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
    
        <h1>
            <b>
                Amigos Cordon Bleu - Special</b> &nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
    
        <h1>
            <b>Amigos Chawarma</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">9 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"  style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
        
        <h1>
            <b> Cutlet Amigos</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">11.5 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
        <h1>
            <b> Tuna Amigos</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">11.5 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
        <br>
        <hr>
        
        <h1>
            <b> Ham Amigos</b>&nbsp; <span class="w3-tag w3-yellow w3-round">+ Fondant</span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">11 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/fjqzldiscvsbswxguok8" alt="Image" width="250px"   style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey"> Harissa, Garlic sauce, Mechouia salad, Lettuce, Onions, Ketchup, Algerian sauce, Barbecue sauce, Omelet with fondant, Fries</p>
        <button class="w3-third w3-padding-large w3-black">Add to cart</button>
        
    <br>
        <hr>
        
    </div>
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">Drinks</h1>
    <div class="w3-container w3-white w3-padding-32">
    <h1>
        <b>Arangina </b> &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">
          <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
           </span>
        <div class="image-container">
          <hr style="flex: 1; margin: 0;">
          <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/qdxsmdsvlojgrjlb2ynd" alt="Image" width="250px">
        </div>
      </h1>
   
      <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
      <br>
  <hr>
    
  <h1>
    <b>Coca-cola Zero </b> &nbsp;
    <span class="w3-right w3-tag w3-dark-grey w3-round">
      <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
       </span>
    <div class="image-container">
      <hr style="flex: 1; margin: 0;">
      <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/nxnuyb9h2vqz0ohkz22t" alt="Image" width="250px">
    </div>
  </h1>

  <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
  <br>
   <hr>
   <h1>
    <b>Fanta </b> &nbsp;
    <span class="w3-right w3-tag w3-dark-grey w3-round">
      <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
       </span>
    <div class="image-container">
      <hr style="flex: 1; margin: 0;">
      <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/apj7webnjynrglayawd0" alt="Image" width="250px">
    </div>
  </h1>

  <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
  <br>
<hr>
<h1>
  <b>Appla </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/hk7gywcoqjjgzu1zzhav" alt="Image" width="250px">
  </div>
</h1>

<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>
<hr>
<h1>
  <b>Coca-Cola </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/e5sxdbovhgbodsawvvks" alt="Image" width="250px">
  </div>
</h1>

<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>
<hr>
<h1>
  <b>Boga Cider </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/rvypm6mppknpslp6f9it" alt="Image" width="250px">
  </div>
</h1>
<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>
<hr>
<h1>
  <b>Watter(1.5L) </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">1,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/lf4jctvglppzaoo0mpfv" alt="Image" width="250px">
  </div>
</h1>

<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>

</div>
    </div>














