<title>Pizza</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./soltana.component.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
</style>

<!-- Start Content -->
<div id="home" class="w3-content">

<!-- Menu -->
<div id="menu" class="w3-container w3-black w3-large w3-padding-64">
<h1 class="w3-center w3-jumbo w3-padding-32">THE MENU</h1>
<div class="w3-row w3-center w3-border w3-border-dark-grey">
<a><div class="w3-third w3-padding-large w3-red"> Roast chicken</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red"> Dishes</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">Sandwichs</div></a>

<a ><div class="w3-third w3-padding-large w3-hover-red">Our Drinks</div></a>
</div>


<div id="Dishes" class="w3-container w3-white w3-padding-32">
    <h1>
        <b>  Roast chicken </b>&nbsp; <span class="w3-tag w3-orange w3-round">+ 4 sauces</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">32 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ut57mlipxkgpw3fa5vrs" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">Tastira,Kamouneya,Loubya,salad Mechweya,fries  </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b>  Roast chicken </b>&nbsp; <span class="w3-tag w3-orange w3-round">+ 3 sauces</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">30 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ut57mlipxkgpw3fa5vrs" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">Tastira,Kamouneya,salad Mechweya,fries  </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b>  Roast chicken </b>&nbsp; <span class="w3-tag w3-orange w3-round">+2 sauces</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">28 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ut57mlipxkgpw3fa5vrs" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">Tastira,salad Mechweya,fries  </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b>  Roast chicken </b>&nbsp; <span class="w3-tag w3-orange w3-round">+ 1 sauces</span>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">25 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ut57mlipxkgpw3fa5vrs" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">Tastira,fries  </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>
    
    </div>
<h1 id="starters" class="w3-center w3-jumbo w3-padding-32">DISHES</h1>
<div id="Dishes" class="w3-container w3-white w3-padding-32">
    <h1>
        <b> Tunisian Dish</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">6 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/dndfjqsis6ns3e4owxwo" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">Tunisian specialty    </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b> Kaftajji</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">7 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/lvjv0ycl1c9p3vj21imo" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Tunisian specialty    </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>


    <h1>
        <b>Koucha Lamb</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">13 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/tlzkm5qewydjavtv8uyc" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Lamb,potatos,pepper.. </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>
    
     <h1>
        <b>
            Madfouna Dumpling</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">12 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/rjvtmjxz8dokk0affy3l" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Tunisian specialty</p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>
    
    <h1>
        <b> Mloukhia</b>&nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">12 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://cuisine.nessma.tv/uploads/1/2019-06/73041d0b6465e5ca8d59cf958aab5333.jpg" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Tunisian specialty</p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
<br>
    
</div>

    
   
    
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">STARTERS</h1>
    <div class="w3-container w3-white w3-padding-32">
    
        <h1>
            <b>Chicken Sandwich</b>
                &nbsp;
                <span class="w3-right w3-tag w3-dark-grey w3-round">8,500 DT</span>
                <div style="display: flex; align-items: left;">
                    <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/p3ylzpxw11cmmrjsuhod" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                    <hr style="flex: 1; margin: 0;">
                </div>
        </h1>
        <p class="w3-text-grey">hot sauce+,chicken,salad,sauces,fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Tuna Sandwich </b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">7 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/bggtacpyisdwbak0wy79" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey"> hot sauce+,tuna,salad,sauces,fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b>Sandwich Kaftajji</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">7 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/iwrft6gdghzue4r4okb7" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">hot sauce+,egg,pepper,sauces,fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>

        
        
    </div>
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">Drinks</h1>
    <div class="w3-container w3-white w3-padding-32">
    <h1>
        <b>Arangina </b> &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">
          <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
           </span>
        <div class="image-container">
          <hr style="flex: 1; margin: 0;">
          <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/qdxsmdsvlojgrjlb2ynd" alt="Image" width="250px">
        </div>
      </h1>
   
      <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
      <br>
  <hr>
    
  <h1>
    <b>Coca-cola Zero </b> &nbsp;
    <span class="w3-right w3-tag w3-dark-grey w3-round">
      <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
       </span>
    <div class="image-container">
      <hr style="flex: 1; margin: 0;">
      <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/nxnuyb9h2vqz0ohkz22t" alt="Image" width="250px">
    </div>
  </h1>

  <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
  <br>
   <hr>
   <h1>
    <b>Fanta </b> &nbsp;
    <span class="w3-right w3-tag w3-dark-grey w3-round">
      <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
       </span>
    <div class="image-container">
      <hr style="flex: 1; margin: 0;">
      <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/apj7webnjynrglayawd0" alt="Image" width="250px">
    </div>
  </h1>

  <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
  <br>
<hr>
<h1>
  <b>Appla </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/hk7gywcoqjjgzu1zzhav" alt="Image" width="250px">
  </div>
</h1>

<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>
<hr>
<h1>
  <b>Coca-Cola </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/e5sxdbovhgbodsawvvks" alt="Image" width="250px">
  </div>
</h1>

<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>
<hr>
<h1>
  <b>Boga Cider </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">2,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/rvypm6mppknpslp6f9it" alt="Image" width="250px">
  </div>
</h1>
<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>
<hr>
<h1>
  <b>Watter(1.5L) </b> &nbsp;
  <span class="w3-right w3-tag w3-dark-grey w3-round">
    <span class="w3-right w3-tag w3-dark-grey w3-round">1,500 DT</span>
     </span>
  <div class="image-container">
    <hr style="flex: 1; margin: 0;">
    <img src="https://res.cloudinary.com/glovoapp/f_auto,c_fill,dpr_2.0,q_auto:low,h_106,w_106,b_transparent/Products/lf4jctvglppzaoo0mpfv" alt="Image" width="250px">
  </div>
</h1>

<a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a>
<br>

        
      
        
    </div>
    </div>