.header {
  padding: 60px;
  text-align: center;
  
  color: white;
  font-size: 30px;
}
.header .coll{
  color: orangered;
  font-size: 50px;
}
.container .col-3 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-fit: cover;
    border-radius: 50%; /* Make the image circular */
     margin-right: 50px; /* Optional: Add some space between images */
    
    }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
  }
  /* Remove margin between columns */
  .row {
    margin: 0 auto;
  }
  .images-container {
    display: flex;
    align-items: center;
  }
  .images-container img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px; /* Optional: Add some space between images */
  }
  
  .row {
    display: flex;
  }
  .image-link {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Hide any content that might overflow from the circle */
  }
  
  .image-link img {
    display: block;
    
    height: auto;
    transition: box-shadow 0.3s ease-in-out;
    width: 150px; /* Adjust the size as needed */
  }
  
  .image-link::before {
    border-radius: inherit; /* Match the circular shape */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    
  }
  
  .image-link:hover img {
    
    transform: scale(1.1); /* Add a slight zoom effect on hover */
  }
  
  .image-link:hover::before {
    opacity: 1;
  }