<div class="header">
  <h1>Choose Your Tasty Food </h1>
  <p class="coll">Collections</p>
</div>
<div class="container   align-items-center" >
    <div class="row">
      
          <div class="col-3">
            <a routerLink="/tunisian" class="image-link">
            <img [src]="imageUrl1" alt="">
            </a>
           
            
          </div>
          <div class="col-3">
            <a routerLink="/italien" class="image-link">
            <img [src]="imageUrl2" alt="">
             </a>
            
           
          </div>
          
          <div class="col-3">
            <a routerLink="/japan" class="image-link">
            <img [src]="imageUrl3" alt="">
            </a>
            
           
          </div>
          <div class="col-3">
            <a routerLink="/syrian" class="image-link">
            <img [src]="imageUrl4" alt="">
            </a>
            
           
          </div>
    </div>
</div>
