<title>Pizza</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./weld-hajj.component.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
</style>

<!-- Start Content -->
<div id="home" class="w3-content">

<!-- Menu -->
<div id="menu" class="w3-container w3-black w3-large w3-padding-64">
<h1 class="w3-center w3-jumbo w3-padding-32">THE MENU</h1>
<div class="w3-row w3-center w3-border w3-border-dark-grey">
<a><div class="w3-third w3-padding-large w3-red"> Tunisian Traditional Dishes</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">Tunisian Pasta</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">sandwiches</div></a>
<a ><div class="w3-third w3-padding-large w3-hover-red">Ojja</div></a>
</div>

<div id="Dishes" class="w3-container w3-white w3-padding-32">
    <h1>
        <b> Lamb Couscous</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">18 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/f4wpienvgfghujfx4oxj" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
    </h1>
    <p class="w3-text-grey">tunisian specialty    </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b> Chicken Couscous</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">16 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/k1wneirplmcwibjnyrrx" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">tunisian specialty    </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b>Fish Couscous</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">18 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/ylzgbg5r1oaf2ecwj5ba" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">tunisian specialty    </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>

    <h1>
        <b>Djerbien Rice</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">13 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/svm43m0kbmld4lkvzenm" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Djerbien specialty </p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>
    
    <h1>
        <b>
            Kamounia Veal</b> 
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/p8tghr7uxryggqurfhwb" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">cumin sauce+meat</p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>
    <h1>
        <b>Felfel Mahchi</b>
        &nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">12 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/atiirqhwnhpscmeaxivb" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">pepper stuffed with eggs,meat,parsley..</p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
    <br>
    <hr>
    
    <h1>
        <b> Mloukhia</b>&nbsp;
        <span class="w3-right w3-tag w3-dark-grey w3-round">12 DT</span>
        <div style="display: flex; align-items: left;">
            <img src="https://cuisine.nessma.tv/uploads/1/2019-06/73041d0b6465e5ca8d59cf958aab5333.jpg" alt="Image" width="250px" style="float: right; margin-left: 10px;">
            <hr style="flex: 1; margin: 0;">
        </div>
    </h1>
    <p class="w3-text-grey">Tunisian specialty</p>
    <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
<br>
    
</div>

    
    <h1 id="pasta" class="w3-center w3-jumbo w3-padding-32">PASTA</h1>
    <div class="w3-container w3-white w3-padding-32">
        <h1>
            <b>
                Beef Pasta</b>
                &nbsp;
                <span class="w3-right w3-tag w3-dark-grey w3-round">20 DT</span>
                <div style="display: flex; align-items: left;">
                    <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/et5pxemdqcaibs3daxh4" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                    <hr style="flex: 1; margin: 0;">
                </div>
        </h1>
        <p class="w3-text-grey">Fresh tomatoes+beef+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Chicken Pasta</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">15 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/xvhrwvf0ktnotortrwzb" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Fresh tomatoes+chicken+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Pasta  Bolognese</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">17 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ue2t4ypcygcwvk9o2tnl" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Fresh tomatoes+ ground meat+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Spaghetti Thon</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">10 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://gourmandiz.dhnet.be/wp-content/uploads/2023/02/Spaghetti-au-thon-et-tomates-scaled.jpg" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">Fresh tomatoes+thon+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
        
      
    </div>
    
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">
        Sandwiches</h1>
    <div class="w3-container w3-white w3-padding-32">
    
        <h1>
            <b>Sandwiche Merguez</b>
                &nbsp;
                <span class="w3-right w3-tag w3-dark-grey w3-round">6,500 DT</span>
                <div style="display: flex; align-items: left;">
                    <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/ffzqhzg9ympunk16f11g" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                    <hr style="flex: 1; margin: 0;">
                </div>
        </h1>
        <p class="w3-text-grey">hot sauce+egg+ merguez (sausage)+tastira+pepper+fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Chicken Sandwiche </b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">7 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/l4kvwflgumsnccik3kxm" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">hot sauce+chicken+salad+sauces+fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b>Cutlet Sandwiche </b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">7 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/twghmjjtxnhso6z74een" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">hot sauce+cutlet+salad+sauces+fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Sandwiche Thon</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">6 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/zydbjgmgsreduxddhqjs" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">hot sauce+tuna+salad+pepper+fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
        
        <h1>
            <b> Sandwiche Kaftajji</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">5,800 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/w_600,f_auto,q_auto:low/Products/jdy3egwtp3rv7rsgaitj" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey"> hot sauce+egg+tastira+pepper+fries</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
        
    </div>
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">Ojja</h1>
    <div class="w3-container w3-white w3-padding-32">
    
        <h1>
            <b>Ojja Seafood</b>
                &nbsp;
                <span class="w3-right w3-tag w3-dark-grey w3-round">20 DT</span>
                <div style="display: flex; align-items: left;">
                    <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/e4mpeq9yzroxfgriocvc" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                    <hr style="flex: 1; margin: 0;">
                </div>
        </h1>
        <p class="w3-text-grey">tomato sauce + hot sauce+egg+shrimp+squid+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b>  Ojja Cutlet</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">12 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/az1hf6hnha2ybppjp4q2" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">tomato sauce + hot sauce+egg+chicken+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Ojja Merguez</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">15 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://res.cloudinary.com/glovoapp/q_auto,f_auto/Products/zyanz5jjxhqhponobelc" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">tomato sauce + hot sauce+egg+ merguez (sausage) +pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
    
        <h1>
            <b> Ojja Shrimp</b>
            &nbsp;
            <span class="w3-right w3-tag w3-dark-grey w3-round">17 DT</span>
            <div style="display: flex; align-items: left;">
                <img src="https://www.cuisinetunisienne.tn/wp-content/uploads/2021/12/Recette-Ojja-aux-crevettes.png" alt="Image" width="250px" style="float: right; margin-left: 10px;">
                <hr style="flex: 1; margin: 0;">
            </div>
        </h1>
        <p class="w3-text-grey">tomato sauce + hot sauce+egg+shrimp+pepper</p>
        <a href="#cart"><div class="w3-third w3-padding-large w3-black">Add to cart</div></a> 
        <br>
        <hr>
        
      
        
    </div>
    </div>