<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
  
  <a routerLink="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>

  
  <!-- <a routerLink="/account"><i class="fa fa-fw fa-search"></i> Account</a>  -->
  <a  class ="cart"routerLink="/cart"><i class="fa fa-shopping-cart" style="font-size:24px"></i>
  <!-- <div class="badge badge-danger">{{totalItemNumber}}</div> -->
  </a>
  <a  class ="sign" routerLink="/sign"><i class="fa fa-fw fa-user"></i> Log in</a>
  <a  class ="logo"routerLink="/auth"><i class="fa fa-address-book"></i>  Sign up</a>
 

</div>